<%= flash[:notice] %>
<%= flash[:alert] %>


<h3>Tell us something about yourself!</h3>


<%= form_for @profile, :url => profiles_path, :html => { :multipart => true } do |f| %>
  <%= f.file_field :avatar %>
  <%= f.label :bio%>
  <%= f.text_field :bio %>
  <%= f.label :hobby %>
  <%= f.text_field :hobby %>
  <%= f.label :work %>
  <%= f.text_field :work %>
   <br><br>
  <%= f.submit %>
  <br><br>
   <%= link_to "I'll fill this out later!", '/home', :class => 'btn btn-mini' %> 
<% end %>