<!DOCTYPE html>
<html>

<head>
  <title>Space Rocket | <%= yield :title %></title>
    <!-- For devise. -->
  <!--p class="notice"><%= notice %></p><-->
  <!--p class="alert"><%= alert %></p><-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    
    <br><br>
    <h3><%= yield :title %></h3>
    <%= yield %>
  </div>

</body>
</html>